<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= post.title %></strong>
    <span class="pull-right"><%= post.date.to_formatted_s(:long_ordinal) %></span>
  </div>
  <div class="panel-body">
    <%= post.body.html_safe %>
    <%= render 'posts/tags', post: post %>
  </div>
  <div class="panel-footer">
    <%= link_to "Comment, please!", new_post_comment_path(post), class: "btn btn-success pull-right" %>
    <%= render 'comments/comments', post: post %> 
  </div>
</div>
