<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= post.title %></strong>
    <div><%= post.date.to_formatted_s(:long_ordinal) %></div>
  </div>
  <div class="panel-body">
    <%= post.body.html_safe %>
    <%= render 'posts/tags', post: post %>
  </div>
  <div class="panel-footer">
    <%= link_to "Your Comment", new_post_comment_path(post), remote: true, data:{toggle:"collapse", target: "#comment-holder"}, class: "btn btn-success pull-right" %>
    <%= render 'comments/comments', post: post %> 
    <hr>
    <div id="comment-holder" class="collapse"></div>
  </div>
</div>
